html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
@font-face {
  font-family: 'brown-regular';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.eot?v=1.0.0");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.eot?#iefix&v=1.0.0") format('embedded-opentype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.woff2?v=1.0.0") format('woff2'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.woff?v=1.0.0") format('woff'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.ttf?v=1.0.0") format('truetype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.svg?v=1.0.0#brownregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown-light';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.eot?v=1.0.0");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.eot?#iefix&v=1.0.0") format('embedded-opentype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.woff2?v=1.0.0") format('woff2'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.woff?v=1.0.0") format('woff'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.ttf?v=1.0.0") format('truetype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.svg?v=1.0.0#brownlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown-bold';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.eot?v=1.0.0");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.eot?#iefix&v=1.0.0") format('embedded-opentype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.woff2?v=1.0.0") format('woff2'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.woff?v=1.0.0") format('woff'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.ttf?v=1.0.0") format('truetype'), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.svg?v=1.0.0#brownbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown-regular-italic';
  font-style: normal;
  src: url("https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.eot");
  src: url("https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.eot?#iefix") format('embedded-opentype'), url("https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.woff") format('woff'), url("https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.ttf") format('truetype'), url("https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.svg#web") format('svg');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:active {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}
body {
  font: 1.4rem/2rem brown-regular, Helvetica, Arial, sans-serif;
  color: #4c4d4f;
}
strong {
  font-family: brown-bold;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 98rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.container_large {
  max-width: 120rem;
}
.careers__h1 {
  font-size: 4.4rem;
  line-height: 5rem;
  font-family: brown-regular;
  color: #fff;
  margin: 0.5rem 0;
}
.careers__h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: brown-regular;
  color: #4c4d4f;
  margin: 1rem 0;
}
.careers__h2_white {
  color: #fff;
}
.careers__p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: brown-regular;
  color: #4c4d4f;
  margin: 1.5rem 0;
}
.careers__p_light {
  font-family: brown-light;
}
.careers__p_white {
  color: #fff;
}
.careers__p_hero {
  margin-top: 0;
}
.careers__btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: brown-light;
  color: #28bbbb;
  background: rgba(0,0,0,0.25);
  border: 1px solid #28bbbb;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.15s;
}
.careers__btn:hover {
  background: rgba(0,0,0,0.35);
}
.careers__btn:active {
  background: rgba(0,0,0,0.5);
}
.careers__hero {
  position: relative;
  height: 75vh;
  overflow: hidden;
}
.careers__hero:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(148,148,148,0.6);
  z-index: 1;
}
.careers__hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.careers__hero-container {
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.careers__discover {
  padding-top: 6rem;
  text-align: center;
}
.careers__discover-list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: ordered-list;
}
.careers__discover-item {
  position: relative;
  font: 2rem brown-regular;
  color: #4c4d4f;
  margin: 6rem 0 1rem 0;
}
.careers__discover-item:before {
  content: counter(ordered-list);
  counter-increment: ordered-list;
  position: absolute;
  left: 50%;
  top: -3.6rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #eaeaea;
  z-index: -1;
  font: 72px brown-regular-italic;
}
.careers__discover-number {
  display: block;
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: #eaeaea;
  font-family: brown-regular-italic;
}
.careers__discover-text {
  display: block;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: brown-regular;
  color: #4c4d4f;
  margin-top: -4rem;
}
.careers__discover-quote {
  margin-top: 4rem;
  display: inline-block;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 2rem;
}
.careers__discover-quote-text {
  font-family: brown-regular-italic;
  font-size: 2rem;
  line-height: 2.4rem;
}
.careers__brands {
  padding-top: 6rem;
  text-align: center;
}
.careers__brands-list {
  margin: 6rem 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.careers__brands-item {
  margin: 0 4rem;
}
.careers__benefits {
  padding-top: 6rem;
  text-align: center;
}
.careers__benefits-list {
  text-align: left;
  margin: 6rem 0 0 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.careers__benefits-item {
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.careers__benefits-item:last-child {
  margin-right: 0;
}
.careers__benefits-icon {
  display: block;
  height: 5rem;
}
.careers__benefits-icon svg {
  display: block;
}
.careers__benefits-title {
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: brown-regular;
  color: #4c4d4f;
  margin: 0.5rem 0;
}
.careers__benefits-text {
  margin: 0.5rem 0;
  font-family: brown-regular;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #949494;
}
.careers__join {
  position: relative;
  text-align: center;
  margin-top: 6rem;
  height: 50vh;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_office_new_york_bell.png") center no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.careers__join:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4c4d4f;
  opacity: 0.5;
  z-index: 0;
}
.careers__join-container {
  position: relative;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.careers__join_p,
.careers__join_h2 {
  margin: 0.1rem 0;
}
.careers__join_h2 {
  font-size: 3.4rem;
}
.careers__feed {
  padding-top: 6rem;
}
.b-feed {
  padding: 40px 0;
}
.b-feed__title {
  font-size: 4.6rem;
  font-weight: 300;
  margin: 0;
  color: #4c4d4f;
}
.b-feed__list {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 1;
}
.b-feed__item {
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.25);
  background: #fff;
  transition: box-shadow 0.15s ease-out, opacity 0.25s ease-out;
  opacity: 0;
  transition: opacity 0.15s ease-out;
}
.b-feed__img {
  display: block;
  width: 100%;
  height: auto;
}
