@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../fonts/futura-pt-demi/FuturaPT-Demi.eot');
  src: url('../fonts/futura-pt-demi/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-pt-demi/FuturaPT-Demi.otf') format('opentype'),
	     url('../fonts/futura-pt-demi/FuturaPT-Demi.woff') format('woff'),
       url('../fonts/futura-pt-demi/FuturaPT-Demi.ttf') format('truetype'),
       url('../fonts/futura-pt-demi/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/futura-pt-book/FuturaPT-Book.eot');
    src: url('../fonts/futura-pt-book/FuturaPT-Book.eot#iefix') format("embedded-opentype"),
         url('../fonts/futura-pt-book/FuturaPT-Book.woff') format("woff"),
         url('../fonts/futura-pt-book/FuturaPT-Book.ttf') format("truetype"),
         url('../fonts/futura-pt-book/FuturaPT-Book.svg#FuturaPTBook') format("svg");
    font-weight: normal;
    font-style: normal;
}
