@import '_normalize'

@font-face {
  font-family: 'brown-regular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.eot?v=1.0.0');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.woff2?v=1.0.0') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.woff?v=1.0.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.ttf?v=1.0.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-regular-webfont.svg?v=1.0.0#brownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown-light';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.eot?v=1.0.0');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.woff2?v=1.0.0') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.woff?v=1.0.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.ttf?v=1.0.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-light-webfont.svg?v=1.0.0#brownlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown-bold';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.eot?v=1.0.0');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.woff2?v=1.0.0') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.woff?v=1.0.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.ttf?v=1.0.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/brown-bold-webfont.svg?v=1.0.0#brownbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'brown-regular-italic';
    font-style: normal;
    src: url(https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.eot);
    src: url(https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.eot?#iefix) format('embedded-opentype'), url(https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.woff) format('woff'), url(https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.ttf) format('truetype'), url(https://d1bile9su2eskg.cloudfront.net/wp-content/themes/meltwater/fonts/brown-regular-italic-webfont.svg#web) format('svg')
}

font-base = brown-regular, Helvetica, Arial, sans-serif
font-bold = brown-bold
font-regular = brown-regular
font-light = brown-light
font-regular-italic = brown-regular-italic

size-font = 1.4rem
size-line = 2rem

size-s = 768px
size-m = 980px
size-l = 1200px

color-white = #ffffff
color-main = #4c4d4f

mediaMin(minWidth)
  @media screen and (min-width: minWidth)
    {block}
mediaBetween(minWidth, maxWidth)
  @media screen and (min-width: minWidth) and (max-width: maxWidth)
    {block}

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

*
  &
  &:before
  &:after
    box-sizing border-box
  &:active
    -webkit-tap-highlight-color: alpha(color-white, 0)

html
  font-size 62.5%
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background color-white

body
  font size-font/size-line font-base
  color color-main

strong
  font-family font-bold

img
  max-width 100%
  height auto

.container
  max-width 98rem
  padding-left 1.5rem
  padding-right 1.5rem
  margin-left auto
  margin-right auto

  &_large
    max-width 120rem

.careers

  &__h1
    font-size 4.4rem
    line-height 5rem
    font-family font-regular
    color #fff
    margin 0.5rem 0

  &__h2
    font-size 3.2rem
    line-height 4rem
    font-family font-regular
    color #4C4D4F
    margin 1rem 0

    &_white
      color #fff

  &__p
    font-size 2rem
    line-height 2.4rem
    font-family font-regular
    color #4C4D4F
    margin 1.5rem 0

    &_light
      font-family font-light

    &_white
      color #fff

    &_hero
      margin-top 0

  &__btn
    display inline-block
    font-size 1.6rem
    line-height 2rem
    font-family font-light
    color #28BBBB
    background rgba(0,0,0,.25)
    border 1px solid #28BBBB
    padding 0.8rem 1.5rem
    text-decoration none
    cursor pointer
    border-radius 3px
    transition background .15s

    &:hover
      background rgba(0,0,0,.35)
    &:active
      background rgba(0,0,0,.5)

  &__hero
    position relative
    height 75vh
    overflow hidden

    &:before
      content ' '
      position absolute
      top 0
      left 0
      bottom 0
      right 0
      background rgba(148,148,148, .6)
      z-index 1

    &-video
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      min-width 100%
      min-height 100%
      z-index 0

    &-container
      height 100%
      position relative
      z-index 1
      display flex
      flex-direction column
      justify-content center

  &__discover
    padding-top 6rem
    text-align center

    &-list
      padding 0
      margin 0
      list-style none
      counter-reset ordered-list

    &-item
      position relative
      font 2rem font-regular
      color #4c4d4f
      margin 6rem 0 1rem 0

      &:before
        content counter(ordered-list)
        counter-increment ordered-list
        position absolute
        left 50%
        top -3.6rem
        transform translate(-50%, 0)
        color #eaeaea
        z-index -1
        font 72px font-regular-italic

    &-number
      display block
      font-size 7.2rem
      line-height 7.2rem
      color #EAEAEA
      font-family font-regular-italic

    &-text
      display block
      font-size 2rem
      line-height 2.4rem
      font-family font-regular
      color #4C4D4F
      margin-top -4rem

    &-quote
      margin-top 4rem
      display inline-block
      border-top 1px solid #979797
      border-bottom 1px solid #979797
      padding 2rem

      &-text
        font-family font-regular-italic
        font-size 2rem
        line-height 2.4rem

  &__brands
    padding-top 6rem
    text-align center

    &-list
      margin 6rem 0 0 0
      padding 0
      list-style none
      display flex
      align-items center
      justify-content center

    &-item
      margin 0 4rem

  &__benefits
    padding-top 6rem
    text-align center

    &-list
      text-align left
      margin 6rem 0 0 0
      padding 0
      list-style none

      display flex

    &-item
      width 20%
      margin-top 2rem
      margin-bottom 2rem
      margin-right 2rem

      &:last-child
        margin-right 0

    &-icon
      display block
      height 5rem

      svg
        display block

    &-title
      display block
      font-size 1.6rem
      line-height 2rem
      font-family font-regular
      color #4C4D4F
      margin 0.5rem 0

    &-text
      margin 0.5rem 0
      font-family font-regular
      font-size 1.4rem
      line-height 1.8rem
      color #949494

  &__join
    position relative
    text-align center
    margin-top 6rem
    height 50vh
    background url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_office_new_york_bell.png') center no-repeat
    background-position center top
    background-size cover
    background-attachment fixed

    &:before
      content ' '
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background #4c4d4f
      opacity .5
      z-index 0

    &-container
      position relative
      height 100%

      display flex
      flex-direction column
      align-items center
      justify-content center
      z-index 1

    &_p
    &_h2
      margin 0.1rem 0

    &_h2
      font-size 3.4rem

  &__feed
    padding-top 6rem

.b-feed
  padding 40px 0

  &__title
    font-size 4.6rem
    font-weight 300
    margin 0
    color #4C4D4F

  &__list
    position relative
    width 100%
    height 80vh
    z-index 1

  &__item
    position absolute
    display inline-block
    padding 0.5rem
    border 1px solid #ccc
    box-shadow 5px 5px 25px rgba(0, 0, 0, 0.25)
    background #fff
    transition box-shadow .15s ease-out, opacity .25s ease-out
    opacity 0
    transition opacity .15s ease-out

  &__img
    display block
    width 100%
    height auto
