extends templates/base

block content
  section.case-studies-hero
    ul.case-studies-hero__list
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title Gogo
            p.case-studies-hero__slide-text Real-time analytics and internal newsfeeds<br/>help this in-flight communications provider<br/>take wing in new markets.
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_gogo_dashboard.png").screens__screen
                  img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_gogo_dashboard.png").screens__screen
                  img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_gogo_dashboard.png").screens__screen
                  img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123942/meltwater_gogo_dashboard.png").screens__screen
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title Muhammad Ali Center
            p.case-studies-hero__slide-text The Muhammad Ali Center is a multicultural center and museum dedicated to preserving<br/>and sharing the legacy of “The Greatest of All Time.”
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/Muhammad-Ali-Center-Dashboard-for-Website-.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/Muhammad-Ali-Center-Dashboard-for-Website-.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/Muhammad-Ali-Center-Dashboard-for-Website-.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/Muhammad-Ali-Center-Dashboard-for-Website-.png").screens__screen
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title LogMeIn
            p.case-studies-hero__slide-text LogMeIn is a cloud connectivity company<br/>that simplifies how people connect to their colleagues, employees, devices and the world around them.
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Dashboard_logmein3.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Dashboard_logmein3.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Dashboard_logmein3.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Dashboard_logmein3.png").screens__screen
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title Becker
            p.case-studies-hero__slide-text Becker Professional Education is a global<br/>leader in preparing students for business<br/>success.
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/06/becker_dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/06/becker_dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/06/becker_dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/06/becker_dashboard.png").screens__screen
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title Columbia Business<br/>Schools
            p.case-studies-hero__slide-text Columbia Business School is one of the top 10 business schools in the US. 
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Meltwater_-_Main_Dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Meltwater_-_Main_Dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Meltwater_-_Main_Dashboard.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/01/Meltwater_-_Main_Dashboard.png").screens__screen
      li.case-studies-hero__item
        .case-studies-hero__slide
          .case-studies-hero__slide-left
            h2.case-studies-hero__slide-head Meet
            h1.case-studies-hero__slide-title Social Factor
            p.case-studies-hero__slide-text Social Factor is a Texas-based social PR<br/>agency that uses Meltwater to create<br/>and execute the communications<br/>plan for its client...
            a(href="#").case-studies-hero__slide-link Read their success story
          .case-studies-hero__slide-right
            .case-studies-hero__slide-screens.screens
              .screens__isometric
                .screens__rotate
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/FBISD-Dashboard-for-website.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/FBISD-Dashboard-for-website.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/FBISD-Dashboard-for-website.png").screens__screen
                  img(src="https://d1bile9su2eskg.cloudfront.net/wp-content/uploads/2016/08/FBISD-Dashboard-for-website.png").screens__screen
